<%= form_with(model: site_setting) do |form| %>
  <% if site_setting.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(site_setting.errors.count, "error") %> prohibited this site_setting from being saved:</h2>

      <ul>
        <% site_setting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
