<% content_for :title, "Editing site setting" %>

<h1>Editing site setting</h1>

<%= render "form", site_setting: @site_setting %>

<br>

<div>
  <%= link_to "Show this site setting", @site_setting %> |
  <%= link_to "Back to site settings", site_settings_path %>
</div>
