<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="index.html" class="app-brand-link">
      <%= link_to main_marketing_site_address, class: "app-brand-link gap-2" do %>
        <span class="app-brand-text demo text-heading fw-bold">Showaru 🚀</span>
      <% end %>
    </a>
  </div>

  <div class="menu-divider mt-0"></div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class="menu-item active">
      <a href="javascript:void(0);" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-smile"></i>
        <div class="text-truncate" data-i18n="Dashboards">Workspace</div>
      </a>
    </li>

    <!-- Apps & Pages -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Project &amp; Pages</span>
    </li>
    <!-- Pages -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link">
        <i class="menu-icon tf-icons bx bx-dock-top"></i>
        <div class="text-truncate" data-i18n="Sites">Sites</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link">
        <i class="menu-icon tf-icons bx bx-link"></i>
        <div class="text-truncate" data-i18n="Links">Links</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link">
        <i class="menu-icon tf-icons bx bx-qr-scan"></i>
        <div class="text-truncate" data-i18n="QR code">QR code</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link">
        <i class="menu-icon tf-icons bx bx-diamond"></i>
        <div class="text-truncate" data-i18n="Themes">Themes</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div class="text-truncate" data-i18n="Teams">Teams</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link">
        <i class="menu-icon tf-icons bx bx-objects-horizontal-left"></i>
        <div class="text-truncate" data-i18n="Analytics">Analytics</div>
      </a>
    </li>

    <!-- Accounts & Settings -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Accounts & Settings</span></li>
    <li class="menu-item">
      <a href="cards-basic.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div class="text-truncate" data-i18n="User">Account</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0)" class="menu-link">
        <i class="menu-icon tf-icons bx bx-cog"></i>
        <div class="text-truncate" data-i18n="Settings">Settings</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0)" class="menu-link">
        <i class="menu-icon tf-icons bx bx-credit-card"></i>
        <div class="text-truncate" data-i18n="Subscriptions">Subscriptions</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="icons-boxicons.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-crown"></i>
        <div class="text-truncate" data-i18n="Support">Support</div>
      </a>
    </li>
  </ul>
</aside>
