<% content_for :title, "Editing launch setting" %>

<h1>Editing launch setting</h1>

<%= render "form", launch_setting: @launch_setting %>

<br>

<div>
  <%= link_to "Show this launch setting", @launch_setting %> |
  <%= link_to "Back to launch settings", launch_settings_path %>
</div>
