<% content_for :title, "New launch setting" %>

<h1>New launch setting</h1>

<%= render "form", launch_setting: @launch_setting %>

<br>

<div>
  <%= link_to "Back to launch settings", launch_settings_path %>
</div>
