<section id="hero" class="hero section">
  <%= user_signed_in? ? "Hello" : "Please login by clicking below!" %>
  <div class="hero-content">
    <%= link_to 'Get Started', new_user_registration_path, class: "btn btn-primary" %>
  </div>
</section>
